.rainbow-heading {
    font-size: 2.5rem;
    font-weight: bold;
    width: 500px;
    background: linear-gradient(
      to right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #content {
    column-count: 3;
    padding-left: 400px;
    padding-right: 400px;
    margin-top: 50px;
    line-height: 30pt;
  }
  
  #graphic {
    background-image: url("dog.jpeg");
    height: 400px;
    width: 800px;
    background-position: 400px;
    background-repeat: no-repeat;
  }
  #circle {
    animation: change 4s ease-in-out infinite;
  }
  @keyframes change {
    0% {
      transform: translate(0, 0) scale(1) rotate(0deg) skew(0deg, 0deg);
    }
    50% {
      transform: translate(3px, 4px) scale(0.5) rotate(0deg) skew(20deg, 10deg);
    }
    100% {
      transform: translate(0, 0) scale(1) rotate(360deg) skew(0deg, 0deg);
    }
  }
  
  svg {
    overflow: visible;
  }
  